{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>{% block title %} {%endblock%} </title>

{% include  'base_head.html' %}
<!--
	============================================ -->
        {% block style %}

        {% endblock %}
</head>
<body>
<!-- sidebar starts down here-->
        <div class="left-sidebar-pro">
            <nav id="sidebar" class="">
                <div class="sidebar-header">
                    <a href="index.html">
                    CLEARANCE
                      {% comment %}  <img class="main-logo" src="/static/img/logo/logo.png" alt="" />{% endcomment %}
                    </a>
                    <strong><img src="{% static 'img/logo/logosn.png' %}" alt="" /></strong>
                </div>

<div class="left-custom-menu-adp-wrap comment-scrollbar">
	<nav class="sidebar-nav left-sidebar-menu-pro">

   <ul class="metismenu" id="menu1">

                {% block module_nav %}

                {%endblock%}
                 </ul>
    </nav>
</div>
            </nav>
        </div>
<!-- sidebar ends up here -->
    <div class="all-content-wrapper">

        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a href="index.html"><img class="main-logo" src="{% static 'img/logo/logo.png' %}" alt="" /></a>
                </div>
            </div>
        </div>
        </div>


        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <!-- top  right starts here -->
                <div class="header-top-wraper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-right-info">
                                <ul class="nav navbar-nav mai-top-nav header-right-menu">

                    <!-- account part-->
                        <li class="nav-item">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                            <i class="icon nalika-user"></i>
                            <span class="admin-name">Beedy</span>
                            <i class="icon nalika-down-arrow nalika-angle-dw"></i>
                            </a>
                            <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                    <li><a href="register.html"><span class="icon nalika-home author-log-ic"></span> Register</a>
                                    </li>
                                    <li><a href="#"><span class="icon nalika-user author-log-ic"></span> My Profile</a>
                                    </li>
                                    <li><a href="lock.html"><span class="icon nalika-diamond author-log-ic"></span> Lock</a>
                                    </li>
                                    <li><a href="#"><span class="icon nalika-settings author-log-ic"></span> Settings</a>
                                    </li>
                                    <li><a href="login.html"><span class="icon nalika-unlocked author-log-ic"></span> Log Out</a>
                                    </li>
                            </ul>
                        </li>

                    <!--account ends here -->

                                </ul>
                           </div>
                        </div>

                     </div>
               </div>
            <!-- top right gone -->

                        </div>
                    </div>
                </div>
            </div>

        <!-- Mobile Menu end -->
<div class="breadcome-area">
<div class="container-fluid">
    <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcome-list">
            {# create the pageinfo block#}
                {% block pageinfo %}


                {% endblock %}
            </div>
            </div>
    </div>
</div>
</div>

        </div>



           <div class="section-admin container-fluid">
                <!-- main contents here -->
                {% block content %}


                {%endblock%}
           <!-- footer sgtarts here -->
                {% include 'footer.html' %}

           <!-- footer ends up here -->
            </div>

    </div>
{% include  'base_foot.html' %}
<script src="{% static 'js/main.js'%}"></script>
      {% block script %}

        {% endblock %}
</body>
</html>