     {% url 'system:fac_view' as faculty %}
     {% url 'system:dept' as department %}
     {% url 'account:signup' as signup %}
    {% url 'system:session_create' as session %}

<li class="{% if 'faculty' in request.path %} active {% endif %}">
                            <a class="has-arrow" href="{% url 'system:fac_view' %}">
								   <i class="fas fa-school fa-sm "></i>
								   <span class="mini-click-non">Faculty </span>
								</a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="Dashboard v.1" href="{% url 'system:fac_create' %}"><span class="mini-sub-pro">Add New</span></a></li>
                                <li><a title="Analytics" href="{% url 'system:fac_view' %}"><span class="mini-sub-pro">View</span></a></li>
                             </ul>
</li>

              <li class="{% if 'department' in request.path %} active {% endif %}">
                            <a  href="{% url 'system:dept_create' %}">
								   <i class="icon nalika-house icon-wrap"></i>
								   <span class="mini-click-non">Department </span>
								</a>

                        </li>

                <li class=" {% ifequal request.path session %}active{% endifequal %}">
                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="fa fa-calendar-check "></i>
                                <span class="mini-click-non">School
                                    Calendar</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Inbox" href="{% url 'system:session_create' %}"><span class="mini-sub-pro">Session</span></a></li>
                                <li><a title="Inbox" href="{% url 'system:create_semester' %}"><span class="mini-sub-pro">Semester</span></a></li>
                            </ul>
                        </li>

  <li class="{% if 'signup' in request.path %} active {% endif %}">
                            <a class="has-arrow" href="{% url 'system:dept_create' %}" aria-expanded="false"><i class="icon nalika-user icon-wrap"></i>
                                <span class="mini-click-non">Manage Account</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Student" href="{% url 'account:signup_student' %}"><span class="mini-sub-pro">Student</span></a></li>
                                <li><a title="Inbox" href="{% url 'system:dept_create' %}"><span class="mini-sub-pro">View</span></a></li>
                            </ul>
                        </li>
