
{# extend the base layout by includeing it#}
    {% extends 'base_layout.html'%}
{# set the value of the page title#}
   {%block title %}
       Student | Register
    {%endblock%}

{# include extra css for datatable#}
{% block style %}

    {% comment %}<link rel="stylesheet" href="{% static 'css/data-table/bootstrap-table.css' %}">
    <link rel="stylesheet" href="{% static 'css/data-table/bootstrap-editable.css' %}">{% endcomment %}
{% endblock %}
{# include faculty module navigation menu#}
    {% block module_nav %}
        {% include 'fac_nav.html'%}

    {%endblock%}

{# include page breadcrum information#}
    {% block pageinfo %}
     <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="breadcomb-wp">
                    <div class="breadcomb-icon">
                    <i class="icon nalika-home"></i>
                    </div>
                        <div class="breadcomb-ctn">
                            <h2>Session Management</h2>
                            <p>{{ app.app.NAME }}</p>
                        </div>
                </div>
           </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <ul class="breadcome-menu">
                    <li><a href="#">create</a> <span class="bread-slash">/</span>
                    </li>
                    <li><span class="bread-blod">view</span>
                    </li>
                </ul>
            </div>

        </div>
    {% endblock %}
{#include the page main content#}
    {%block content %}

         <div class="container-fluid">

          <div class="row">
    <!-- create faculty here -->
                 <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
    <div class="sparkline9-list mt-b-30">
    <div class="sparkline9-hd">
    <div class="main-sparkline9-hd">
    <h2>Create New Student</h2>
    </div>
    </div>
    <div class="sparkline9-graph">
    <div class="basic-login-form-ad">

    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="basic-login-inner">


        <div>
            {% if messages %}
            <ul class="messages">
            {% for msg in messages %}
           <li>
                <div class="alert alert-{{ msg.level_tag }}" role="alert">
                {{ msg.message }}
            </div>
           </li>
            {% endfor %}

            </ul>

            {% endif %}
        </div>




    <form action="{% url 'account:signup_student' %}" method="post"  enctype="multipart/form-data">

        {% csrf_token %}
    <div class="form-group-inner">
    <label>Student Id</label>
      {{form.user_id}}
    </div>

<div class="form-group-inner">
    <label>Password</label>
      {{form.password}}
    </div>


<div class="form-group-inner">
    <label>Confirm Password</label>
      {{form.repeat_password}}
    </div>


<div class="form-group-inner">
    <label>FirstName</label>
      {{form.first_name}}
    </div>

<div class="form-group-inner">
    <label>LastName</label>
      {{form.last_name}}
    </div>

<div class="form-group-inner">
    <label>Profile Picture</label>
      {{form.avatar}}
    </div>


<div class="form-group-inner">
    <label> Department</label>
      {{form.dept_name}}
    </div>

<div class="form-group-inner">
    <label> Session</label>
      {{form.sid}}
    </div>

<div class="form-group-inner">
    <label> Semester</label>
      {{form.semester}}
    </div>

    <div class="login-btn-inner">
    <div class="inline-remember-me">
    <button class="btn btn-sm btn-primary pull-right login-submit-cs" type="submit">Save</button>

    </div>
    </div>
    </form>


    </div>
    </div>



    </div>
    </div>
    </div>
    </div>
                 </div>
    <!-- create faculty here -->
          <h1>Student Record</h1>
{% load render_table from django_tables2 %}
                       <!-- show data -->
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
{% render_table faculty %}

                        </div>
              <!-- show ends here --->
          </div>


        </div>



    </form>


    {%endblock%}


{%  block script %}
    <script>
    $("#id_sid").change(function() {
       sid = ($(this).val());

        var $select = $("#id_semester");
                if(sid == "" || sid == null){
                    row =  '<option value="">--Select Session First--</option>';
                     $("#id_semester").html(row);
                }
       $.ajax({
           url:  '{% url "system:get_semester"  %}',
           data: {
               'sid': sid
           },
           dataType: 'json',
           success: function (data) {


                $select.find('option').remove()
               let rows = '';
                 rows +=  '<option value="">--Select Semester--</option>';
               data.semester.forEach(semester => {
                   rows +=  '<option value=' + semester.id + '>'+ semester.semester_name+ '</option>';
               });


               $("#id_semester").append(rows);

           }

       })


    })
    </script>

{% endblock %}
